body {
  font-family: 'Josefin Sans';
  background-color: #2b2b2b;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;

}

::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -270px;
  right: 10px;
  left: 1100px;
  transform: scale(0.1, 0.1);
  transition: 0.3s all ease-in-out;

  /* top: 50%; */
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(0.12, 0.12);
  filter: drop-shadow(0 0 100px rgba(255,137,169,255));

}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 700px;
  height: 800px;
  margin-top: -390px;
  filter: drop-shadow(0 0 8px rgba(255,137,169,255));
  opacity: 0.8;

}

.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #FF2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  color: white; 
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.01, 1.01);
}

.search-btn:hover {
  /* color: white !important; */
  border: 2px solid white !important;
  filter: drop-shadow(0 0 100px rgba(255,137,169,255));

}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }


  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    /* position: static !important; */
    cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -270px;
  left: 900px;
  transform: scale(0.1, 0.1);
  transition: 0.3s all ease-in-out;

  }

  .hero-banner-img {
    width: 500px;
    height: 600px;
    margin-top: -200px;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}

@media screen and (max-width:1050px){
  .left-arrow,
  .right-arrow {
    
  left: 700px;

  }
}

@media screen and (max-width:995px) {
  .hero-banner-img {
    width: 350px;
    height: 450px;
    margin-top: -200px;
  }
}


@media screen and (max-width:850px) {
  .hero-banner-img {
    width: 280px;
    height: 380px;
    margin-top: -100px;
  }

  .left-arrow,
  .right-arrow {
  left: 500px;
  }
}

@media screen and (max-width:795px) {
  .hero-banner-img {
   display: none;
  }

  .box-hero{
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width:700px) {
  .left-arrow,
  .right-arrow {
  display: none;
  }
}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}

.exercises-text-field .MuiOutlinedInput-root {
  color: white; /* Color del texto */
  &.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white; /* Color del borde cuando el campo está enfocado */
  }
  & .MuiOutlinedInput-notchedOutline {
    border-color: white; /* Color del borde */
  }
  & .MuiInputBase-input::placeholder {
    color: white; /* Color del placeholder */
    opacity: 1; /* Asegúrate de que el color del placeholder sea sólido */
  }
  &:hover .MuiOutlinedInput-notchedOutline {
    border-color: #ff89a9; /* Color del borde en hover */
  }
  &.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ff89a9; /* Color del borde cuando el campo está enfocado */
  }
}

.exercises-text-field .MuiInputLabel-root {
  color: white; /* Color del texto de la etiqueta */
  &.Mui-focused {
    color: white; /* Color del texto de la etiqueta cuando el campo está enfocado */
  }
}