body {
  font-family: 'Josefin Sans';
  background-color: #2b2b2b;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;

}

::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -270px;
  right: 10px;
  left: 1100px;
  transform: scale(0.1, 0.1);
  transition: 0.3s all ease-in-out;

  /* top: 50%; */
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(0.12, 0.12);
  filter: drop-shadow(0 0 100px rgba(255,137,169,255));

}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 729px;
  height: 742px;
  margin-left: 30px;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 600px;
  height: 700px;
  margin-top: -170px;
  filter: drop-shadow(0 0 8px rgba(255,137,169,255));
  opacity: 0.8;

}

.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #FF2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  color: white; 
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.01, 1.01);
}

.search-btn:hover {
  /* color: white !important; */
  /* border: 2px solid white !important;
  filter: drop-shadow(0 0 100px rgba(255,137,169,255)); */
  

}

.btn-class-name {
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;
  top: 40px;
}

.btn-class-name .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-name .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }


  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    /* position: static !important; */
    cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -270px;
  left: 900px;
  transform: scale(0.1, 0.1);
  transition: 0.3s all ease-in-out;

  }

  .hero-banner-img {
    width: 500px;
    height: 600px;
    margin-top: -200px;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}

@media screen and (max-width:1050px){
  .left-arrow,
  .right-arrow {
    
  left: 700px;

  }
}

@media screen and (max-width:995px) {
  .hero-banner-img {
    width: 350px;
    height: 450px;
    margin-top: -200px;
  }
}


@media screen and (max-width:850px) {
  .hero-banner-img {
    width: 280px;
    height: 380px;
    margin-top: -100px;
  }

  .left-arrow,
  .right-arrow {
  left: 500px;
  }
}

@media screen and (max-width:795px) {
  .hero-banner-img {
   display: none;
  }

  .box-hero{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
  }
}

@media screen and (max-width:700px) {
  .left-arrow,
  .right-arrow {
  display: none;
  }
}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}

.exercises-text-field .MuiOutlinedInput-root {
  margin: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #fff;/* Color del texto */
  &.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white; /* Color del borde cuando el campo está enfocado */
  }
  & .MuiInputBase-input::placeholder {
    color: white; /* Color del placeholder */
    opacity: 1; /* Asegúrate de que el color del placeholder sea sólido */
  }
  &:hover .MuiOutlinedInput-notchedOutline {
    border-color: #ff89a9; /* Color del borde en hover */
  }
  &.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ff89a9; /* Color del borde cuando el campo está enfocado */
  }
}

.exercises-text-field .MuiInputLabel-root {
  color: white; /* Color del texto de la etiqueta */
  &.Mui-focused {
    color: white; /* Color del texto de la etiqueta cuando el campo está enfocado */
  }
}

.MuiPagination-root {
  background-color: rgb(140, 140, 140);
  color: white;
    border-radius: 5px;
    &:hover {
        background-color: rgb(173, 173, 173);
    }
    
}

@keyframes text-shadow-pop-bottom {
  0% {
    text-shadow: 0 0 #ff6363, 0 0 #ff6363, 0 0 #ff6363, 0 0 #ff6363, 0 0 #ff6363, 0 0 #ff6363, 0 0 #ff6363, 0 0 #ff6363;
    transform: translateY(0);
  }
  100% {
    text-shadow: 1px 1px #ff6363, 2px 2px #ff6363, 3px 3px #ff6363, 4px 4px #ff6363, 5px 5px #ff6363, 6px 6px #ff6363, 7px 7px #ff6363, 8px 8px #ff6363;
    transform: translateY(-8px);
  }
}

.letter {
  display: inline-block;
}

.hovered .letter {
  animation: text-shadow-pop-bottom 0.6s both;
  animation-delay: calc(var(--char-index) * 0.1s);
}
